.disposicion__izquierda{
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.disposicion__centro{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.disposicion__derecho{
    display: grid;
    align-items: center;
    justify-content: center;
    
    padding: 0;
}