.leyenda{
    
    font-size: 1.4rem;
}

.leyenda p {
    font-size: 1.4rem;
}

.bloque{
    margin: 0px;
}
  
footer small{
    font-size: 1.5rem;
}
  
.redes img{
    margin: 15px auto;
    width: 25px;
}