main .card{
  margin: 3em 0em;
  height: 60vh;
  color: white;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ), url(../img/platica.jpg) ;
  background-size:cover;
  background-position-x:center ;
  background-position-y:center ;
  align-items: center;
  justify-content: center;
  padding: 2em 0em;  
    & .btn{
      
      width: 8em;
      height: 4em;
    }

    .btn-primary{
      color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    }

    .btn-info{
      color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    }
    .btn-primary:hover{
      color: #000;
    background-color: #6fbac7;
    border-color: #6fbac7;
    }

    .btn-info:hover{
      color: #000;
    background-color: #6fbac7;
    border-color: #6fbac7;
    }
    
    .servicios__negocio__izq{
      display: grid;
      
      justify-content: center;
      
    }
      
    & .servicios__negocio__izq img{
      width: 200px;
      height: 200px;
      border-radius: 100%;
    }
  }

  .btn-primary{
    color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  }
  .btn-primary:hover{
    color: #000;
  background-color: #6fbac7;
  border-color: #6fbac7;
  }