main .card{
    margin-top: 40px;
    height: 40vh;
    background-image: url(../img/platica.jpg) ;
    background-size:cover;
    background-position-x:center ;
    background-position-y:center ;
    align-items: center;
    
    & .btn{
      
      width: 200px;
      height: 60px;
    }

    .btn-primary{
      color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    }
    
    
    .servicios__negocio__izq{
      display: grid;
      
      justify-content: center;
      
    }
      
    & .servicios__negocio__izq img{
      width: 200px;
      height: 200px;
      border-radius: 100%;
    }
  }