.card__servicios{
    justify-content:space-between;
  }

.servicios__descrip{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    align-items: center;
}    
.servicios__negocio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
}

.servicios__negocio img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size:cover;
    background-position-x:center ;
    background-position-y:center ;
    align-items: center;
}

.servicios{
 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}