/*Estilos Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

header h1{
  color: white;
}
html {
  font-size: 62.5%;
}

.contenedor{
  padding: 1rem 0.5rem;
  background-color: #001220;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10 auto;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;

}

.navegacion{
  
  display: flex;
}

.lista{
  font-size: 1.5rem;
  
}

.lista a {
  text-decoration: none;
  margin: 0 0.5rem;
  color: white;
}

.hero__section{
  display: flex;
  height: 40vh;
  font-size: 4rem;
  background-image: url(../img/platica.jpg) ;
  background-size:cover;
  background-position-x:center ;
  background-position-y:center ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin: 50px auto;
}

.hero__section button{
  width: 200px;
  height: 45px;
}
.funcion__terapia h2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 5rem;
  margin: 100px auto;
}

.blog__terapia{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 5rem;
  flex-wrap: wrap;
  margin: 100px auto;
}
.funcion__descrip{
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 100px auto;
}

.disposicion__descrip{
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px auto;
  gap: 1rem;
}

.servicios__descrip{
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 100px auto;
}

.funcion__col{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.funcion__col,h3,p{
  font-size: 3rem;
}

.funcion__col img{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 4px solid #001220;
}
.beneficios__descrip{
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 100px auto;
}
.testigo{
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 100px auto;
}

.blog{
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 100px auto;
}
.blog figure{
  width: 25%;
}

.formulario{
  display: inline-flexbox;
  margin: 15px 20px;
  font-size: 2rem;
   
  
}

.leyenda{
  font-size: 1.4rem;
}
.leyenda p {
  font-size: 1.4rem;
}

footer small{
  font-size: 1.5rem;
}

.redes img{
  margin: 15px auto;
  width: 25px;
}