@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
html {
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Lato', sans-serif;
}

.row {
  margin: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  color: white;
  font-size: 1.5em;
}

header.container-fluid {
  padding: 0px 0.5rem;
  background-color: #001220;
}

header.container-fluid {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1em;
}

header .nav-link {
  color: white;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

header.nav-link:focus, header .nav-link:hover {
  color: #31d2f2;
}

header.nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hamburgesa {
  background-color: transparent;
  border: 0;
  color: #ffff;
  cursor: pointer;
  display: none;
  font-size: 1.5em;
}

.hamburgesa:focus {
  outline: none;
}

main .card {
  margin: 3em 0em;
  height: 60vh;
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/platica.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/platica.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0em;
}

main .card .btn {
  width: 8em;
  height: 4em;
}

main .card .btn-primary {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

main .card .btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

main .card .btn-primary:hover {
  color: #000;
  background-color: #6fbac7;
  border-color: #6fbac7;
}

main .card .btn-info:hover {
  color: #000;
  background-color: #6fbac7;
  border-color: #6fbac7;
}

main .card .servicios__negocio__izq {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .card .servicios__negocio__izq img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.btn-primary {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-primary:hover {
  color: #000;
  background-color: #6fbac7;
  border-color: #6fbac7;
}

.card__servicios {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicios__descrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios__negocio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicios__negocio img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.funcion__terapia h2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0px;
}

.funcion__izq {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  padding: 2em 1em;
}

.funcion__cto {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  padding: 2em 1em;
}

.funcion__dcha {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  padding: 2em 1em;
}

.funcion__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
}

.funcion__col img {
  height: 150px;
  width: 150px;
}

.funcion__col img {
  border-radius: 75px;
}

.beneficios__negocio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.disposicion__izquierda {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disposicion__centro {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
}

.disposicion__derecho {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.testimonios {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.testimonio__p {
  padding-left: 15px 0px;
}

.blog {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  margin: 100px auto;
}

.blog figure {
  width: 25%;
}

.leyenda {
  font-size: 1.4rem;
}

.leyenda p {
  font-size: 1.4rem;
}

.bloque {
  margin: 0px;
}

footer small {
  font-size: 1.5rem;
}

.redes img {
  margin: 15px auto;
  width: 25px;
}

@media screen and (max-width: 768px) {
  .nav-ul {
    display: none;
    font-size: 0.8em;
  }
  .nav-ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburgesa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburgesa:focus {
    outline: none;
  }
  .container-fluid {
    font-size: 0.7em;
  }
  .card__final {
    display: none;
  }
  .beneficios__negocio {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    text-align: center;
  }
  .servicios__negocio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */