html{
  padding-left: 15px;
}

header{
  display: flex;
  & h1{
    color: white;
    font-size: 1.5em;
  }
  
  &.container-fluid{
    padding: 0.5rem 0.5rem;
    background-color: #001220;
  }
  
  &.container-fluid{
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
  }
  & .nav-link{
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
  &.nav-link:focus, .nav-link:hover{
    color: aqua;
}

}

main.card{
  margin-top: 40px;
  height: 40vh;
  background-image: url(../img/platica.jpg) ;
  background-size:cover;
  background-position-x:center ;
  background-position-y:center ;
  align-items: center;
  
  &.btn{
    
    width: 200px;
    height: 60px;
  }
  & .funcion__terapia h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .servicios__negocio__izq{
    display: grid;
    
    justify-content: center;
    
  }
    
  & .servicios__negocio__izq img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
}

.servicios__negocio__izq{
  display: grid;
  justify-content: center;
  
}
  
.servicios__negocio__izq img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}


.servicios__negocio{
  display: grid;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
}
.servicios__negocio img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size:cover;
  background-position-x:center ;
  background-position-y:center ;
  align-items: center;
}
.funcion__izq{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.funcion__cto{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.funcion__dcha{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.beneficios__negocio{
  align-items: center;
  justify-content: center;
  display: flex;
}
.beneficios__negocio__izq1{
  align-items: center;
  justify-content: center;
  display: flex;
  // padding-left: 15px;
}
.beneficios__negocio__izq2{
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-left: 15px;
}
.disposicion__izquierda{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.disposicion__centro{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}
.disposicion__derecho{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0;
}

.servicios{
 
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.testimonios__izq{
  padding-left: 15px;
}

.funcion__col{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}


.funcion__col img{
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.row{
  margin: 0;
}
// .row .funcion__izq img{
//   margin-right: 0;
// }
// .row>{
//   margin-right: 0;
//   margin-left: 0;
  
}
.row>*{
  padding-right: 0;
  padding-left: 0;
}

.blog{
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 100px auto;
}
.blog figure{
  width: 25%;
}

.formulario{
  display: inline-flexbox;
  margin: 15px 20px;
  font-size: 2rem;
   
  
}

.leyenda{
  font-size: 1.4rem;
}
.leyenda p {
  font-size: 1.4rem;
}

footer small{
  font-size: 1.5rem;
}

.redes img{
  margin: 15px auto;
  width: 25px;
}